# Ignore the generated Stata configuration file config_stata.do as it contains personalized file paths
config_stata.do
**/.DS_Store
build_code/.DS_Store
*.html
__pycache__/
**/.Rhistory
build_code/input/
build_code/temp/
build_code/Rplots.pdf
setup_environment/python_packages.txt
setup_environment/proj-env
event_code/temp/
titles_code/*.xlsx